
<nav class="d-flex flex-column p-3 sidebar vh-100 position-fixed" style="width: 250px;">
  <h4 class="text-white">Warhammer Projects</h4>
  <ul class="nav nav-pills flex-column mb-auto">
    <li><a href="/" class="nav-link">🏠 Home</a></li>
    <li><a href="/mustering-grounds/armies/word-bearers/" class="nav-link">Word Bearers</a></li>
    <li><a href="/mustering-grounds/armies/blood-ravens/" class="nav-link">Blood Ravens</a></li>
    <li><a href="/mustering-grounds/armies/flesh-eater-courts/" class="nav-link">Flesh-Eater Courts</a></li>
    <li><a href="/mustering-grounds/armies/slaves-to-darkness/" class="nav-link">Slaves to Darkness</a></li>
    <li><a href="/mustering-grounds/armies/chaos-dwarves/" class="nav-link">Chaos Dwarves</a></li>
  </ul>
</nav>
